.banner-statistic-section{
  margin-bottom: 100px;
  @include media(">=widescreen") {
    margin-bottom: 151px;
  }
  .banner-statistic-header{
    margin-bottom: 40px;
    @include media(">=widescreen") {
      margin-bottom: 79px;
    }
  }
  .title-global-section{
    margin-bottom: 4px;
  }

  .column-list{
    @include media(">=tablet") {
      display: flex;
      align-items: center;
      margin: 0 -15px;
    }
    @include media(">=widescreen") {
      margin: 0 -60px;
    }
  }
  .column-item{
    width: 100%;
    margin-bottom: 30px;
    @include media(">=tablet") {
      padding: 0 15px;
      margin-bottom: 0;
    }
    @include media(">=widescreen") {
      padding: 0 60px;
    }
    &:last-child{
      margin-bottom: 0;
    }
    &.column-item-small{
      @include media(">=desktop") {
          max-width: 500px;
      }
    }
    &.column-item-big{
      @include media(">=desktop") {
        max-width: calc(100% - 500px);
      }
    }
  }
  .statistic-list{
    @include media(">=tablet") {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .statistic-item{
      @include media(">=tablet") {
          max-width: calc(50% - 10px);
      }
      @include media(">=widescreen") {
        padding-left: 140px;
        padding-right: 140px;
      }
    }
  }
  .statistic-image-block{
    text-align: center;
    line-height: 0;
  }

  .statistic-holder{
    position: relative;
    @include media(">=desktop") {
      padding: 150px 90px 66px;
    }
    .statistic-image-block{
      @include media(">=desktop") {
        text-align: left;
      }
    }
    .statistic-item-holder{
      margin-bottom: 30px;
      @include media(">=tablet") {
        display: flex;
        justify-content: space-between;
      }
      @include media(">=widescreen") {
        margin-bottom: 0;
        display: block;
      }
      .statistic-item{
        width: 100%;
        height: 100%;
        @include media(">=tablet") {
          max-width: calc(50% - 15px);
          margin: 0;
        }
        @include media(">=desktop") {
          position: absolute;
          max-width: 380px;
          height: auto;
        }
        &:nth-child(1){
          top: 0;
          left: 0;
        }
        &:nth-child(2){
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}

.statistic-item{
  background: $green;
  color: $white;
  margin-bottom: 30px;
  padding: 30px 20px;
  line-height: 1;
  @include media(">=widescreen") {
    padding: 56px 40px 53px 50px;
  }
  &.bg-gray{
    color: $black;
  }
  .title-block{
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 3px;
  }
  .number-block{
    font-size: 64px;
    font-weight: 700;
    span{
      margin-top: 10px;
      display: block;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
  .text-block{
    border-top: 6px dotted currentColor;
    margin-top: 40px;
    padding-top: 35px;
    font-size: 12px;
    line-height: 1.3;
    p{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}