.column-banner-section{
  padding-top: 58px;
  position: relative;
  margin-bottom: 50px;
  @include media(">=widescreen") {
    padding-top: 82px;
    margin-bottom: 100px;
  }
  &:after{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: -20px;
    left: -20px;
    background: $light-gray;
    @include media(">=tablet") {
      right: 50%;
    }
    @include media(">=widescreen") {
      left: 0;
      right: 500px;
    }
  }
  .text-holder{
    margin-bottom: 40px;
    @include media(">=tablet") {
      display: flex;
    }
    @include media(">=widescreen") {
      margin-bottom: 72px;
    }
  }
  .title-global-section{
    margin-bottom: 20px;
    line-height: 1.3;
    width: 100%;
    @include media(">=tablet") {
      max-width: 50%;
      padding: 0 15px;
    }
    @include media(">=widescreen") {
      max-width: calc(100% - 500px);
      padding: 0 35px 0 55px;
    }
  }
  .text-block{
    line-height: 1.6;
    font-size: 16px;
    padding-right: 20px;
    width: 100%;
    @include media(">=tablet") {
      max-width: 50%;
      padding: 0 15px;
    }
    @include media(">=widescreen") {
      max-width: 500px;
      padding: 40px 35px 0;
    }
    p{
      margin-bottom: 13px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .image-holder{
    margin: 0 -20px;
    text-align: center;
    line-height: 0;
  }
}